.MovementsHeader {
    background-color: #f4f4f4;
    padding: 1rem;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.MovementsHeaderBox {
    justify-content: space-between;
    align-items: center;
}

.MovementsFilterSelect,
.MovementsFilterDate,
.MovementsFilterInput {
    margin-right: 1rem;
}

.MovementsSearchButton {
    margin-right: 1rem;
}

.MovementsAddButton {
    margin-left: auto;
}

/* Existing styles */
.MovementsTitleBox {
    margin: 2rem;
    margin-top: 1rem;
    background-color: white;
    padding: 1rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.MovementsTitle {
    font-weight: bold;
    font-size: 2rem;
}

.MovementsBodyBox {
    margin: 2rem;
    margin-top: -1rem;
    background-color: white;
    padding: 1rem;
}

.MovementsDetailChanges {
    margin-top: 0.5rem;
    color: darkgray;
}

.MovementsItemsBox {
    margin: 2rem;
    margin-top: -1rem;
    background-color: white;
    padding: 1rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.MovementsItemsTitle {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.MovementsTypeFilter {
    margin: 1rem;
    margin-bottom: 0rem;
}

.MovementsDateFilter {
    margin: 1rem;
}

.MovementsList {
    border-top: 1px solid lightgray;
}

.MovementsNoDataText {
    margin: 2rem;
}

.MovementsFloatingButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.MovementsContentClass {
    margin: 2rem;
}

.MovementsCreateDialog {
    width: 50vw;
}

.MovementsTitleAndButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.MovementsTitleAndButton .MovementsTitle {
    flex-grow: 1;
}

.MovementsDeletePopUp {
    margin: 2rem;
}